@CHARSET "ISO-8859-1";
body { 
  background: url(http://lorempixel.com/1024/1024/city) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:70%;
}
.form-group.last { margin-bottom:0px; }